.wrapperFormulario {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    
}

.wrapperFormulario__incricao, .wrapperFormulario__endereco {
    width: 40%;
    height: 60vh;

    border-radius: 15px;
    background-color: white;
}